<mat-card>
    <mat-card-title>Добавить категорию</mat-card-title>
    <!-- {{category | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="updateCategory()">

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Название</mat-label>
                            <input 
                            required
                            type="text" 
                            name="title" 
                            matInput 
                            placeholder="Название категории"
                            [(ngModel)]="category.title"
                            />
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Описание</mat-label>
                            <textarea 
                            type="text" 
                            name="description" 
                            matInput 
                            placeholder="Введите описание" 
                            rows="14"
                            [(ngModel)]="category.description"
                            ></textarea>
                        </mat-form-field>

                        <div class="container text-center mt15">
                            <button mat-raised-button color="primary">Сохранить</button>
                        </div>
            
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>