<mat-card>
    <mat-list>
        <mat-card-title>Результаты теста</mat-card-title>
        <mat-list-item *ngFor="let s of statistics">
            <div mat-line>ИФ: {{s.user.firstName}} {{s.user.lastName}}</div>
            <div mat-line>Количество баллов: {{s.countPoints}}</div>
            <div mat-line>Правильных ответов: {{s.validQustion}}</div>
            <div mat-line>Ошибочных ответов: {{s.invalidQuestion}}</div>
            <div mat-line>Пропущенных вопросов: {{s.skipQuestion}}</div>
            <div mat-line *ngFor="let q of s.questionsAndGivenAnswer | keyvalue; let i=index">
                <hr>
                <p class="width50">
                    <strong>#{{i+1}}</strong>
                    <span class="ml15" [innerHTML]="q.key"></span>
                    <i *ngFor="let ans of q.value | keyvalue">
                        Дан ответ: {{ans.key}} 
                            <strong *ngIf="ans.key==ans.value"> (Верно)</strong>
                            <strong *ngIf="ans.key!=ans.value"> (Неверно)</strong>
                        
                        <br>
                        Правильный ответ: {{(ans.value)}}
                    </i>
                    <br>
                </p>
                
            </div>

            <mat-divider></mat-divider>
            <div>
                <button mat-stroked-button color="warn" (click)="removeResult(s.answerId)">Удалить результат</button>
            </div>
        </mat-list-item>
    </mat-list>

    <div class="col-md-12 mt15" *ngIf="statistics==null||statistics.length==0">
        <mat-card>
            <mat-card-content>
                <h1>Никто пока не решал этот тест</h1>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card>
