<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="continer-fluid">
        <div class="row">
            <div class="col-md-2">
                <h3>Инструкция</h3>
            </div>
            <div class="col-md-8">
                <ng-container *ngIf="questions">
                    <h1>Вы решаете тест: <strong>{{questions[0].quize.title}}</strong></h1>
                </ng-container>
                
                <mat-card *ngFor="let q of questions; let i=index" class="mt5">
                    <mat-card-content>
                        <p> <strong>Вопрос #{{i+1}}</strong><span class="ml15" [innerHTML]="q.content"></span></p>
                        
                        <mat-divider></mat-divider>
                        <br>

                        <div class="row mt15">
                            <div *ngIf="q.option1" class="col-md-6">
                                <input type="radio"
                                [value]="q.option1"
                                name={{i}}
                                [(ngModel)]="q.givenAnswer"
                                >
                                {{q.option1}}
                            </div>
                            <div *ngIf="q.option2" class="col-md-6">
                                <input type="radio"
                                [value]="q.option2"
                                name={{i}}
                                [(ngModel)]="q.givenAnswer">
                                {{q.option2}}
                            </div>
                        </div>
                        <div class="row mt15">
                            <div *ngIf="q.option3" class="col-md-6">
                                <input type="radio"
                                [value]="q.option3"
                                name={{i}}
                                [(ngModel)]="q.givenAnswer">
                                {{q.option3}}
                            </div>
                            <div *ngIf="q.option4" class="col-md-6">
                                <input type="radio"
                                [value]="q.option4"
                                name={{i}}
                                [(ngModel)]="q.givenAnswer">
                                {{q.option4}}
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>
                <div class="container text-center mt15 mb15">
                    <button mat-raised-button color="primary" (click)="submitQuize()">Закончить попытку</button>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 49px">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Время на решение теста
                        </mat-card-title>
                        <mat-card-subtitle>
                            Тест автоматически завершится, когда время закончится.
                        </mat-card-subtitle>
                        
                    </mat-card-header>
                    <mat-card-content>
                        <h2 class="text-center">{{getFormattedTime()}}</h2>
                        <mat-spinner  
                        style="margin: auto"
                        mode="determinate"
                        [value]="(timer/(questionLength*2*60))*100"
                        ></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="bootstrap-wrapper mt15" *ngIf="isSubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="text-center">
                        Результат теста
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="ml15">
                    <h3>Правильных ответов: {{correctAnswer.validQustion}}</h3>
                    <h3>Пропущенных вопросов: {{correctAnswer.skipQuestion}}</h3>
                    <h3>Ошибок в вопросах: {{correctAnswer.invalidQuestion}}</h3>
                    <h3>Количество баллов: {{correctAnswer.countPoints}}</h3>
                </mat-card-content>

                <hr>

                <mat-card-actions class="text-center mb15">
                    <button mat-raised-button color="primary" [routerLink]="'/user/category/0'">Вернуться к тестам</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>