<div class="profile-container" *ngIf="user">
    <div class="profile-header">
        <img [src]="profileImage" alt="Profile" class="profile-image">
        <h1 class="profile-name">{{user.firstName}} {{user.lastName}}</h1>

        <input type="file" class="file-input"
               (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">
            {{fileName || "Выберите фото профиля"}}
            <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
                <mat-icon>photo_camera</mat-icon>
            </button>
        </div>
    </div>

    <div class="profile-info">
        <table class="table">
            <tr>
                <td>Имя</td>
                <td>{{user.firstName}}</td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td>{{user.lastName}}</td>
            </tr>
            <tr>
                <td>Почта</td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td [ngClass]="user.enabled ? 'status-active' : 'status-blocked'">
                    {{user.enabled ? 'Активный' : 'Заблокированный'}}
                </td>
            </tr>
            <tr>
              <td>Должность</td>
              <td>{{(user.positions == null || user.positions.length == 0) ? 'Должность отсутствует' : user.positions.join(', ')}}</td>
            </tr>
            <tr>
              <td>Интересы</td>
              <td>{{(user.interests == null || user.interests.length == 0) ? 'Интересы не добавлены' : user.interests.join(', ')}}</td>
            </tr>
        </table>
    </div>
</div>
