.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-image {
    background-image: url('../../../../assets/exam.png');
    background-size: cover;
}

.required-true {
    border-left: 5px solid #1976d2; /* Синий для обязательного */
    background-color: #e3f2fd;
}

.required-false {
    border-left: 5px solid #bdbdbd; /* Серый для опционального */
    background-color: #fafafa;
}
