<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt15">Доступные тесты</h1>
        <div class="row mt15 mb15" *ngIf="quizies">
            <div class="col-md-6" *ngFor="let q of quizies">
                <mat-card class="mb15"> 
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">
                            {{q.description}}
                        </p>   
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">Подробнее</button>
                        <button mat-raised-button color="warn" [routerLink]="'/user/instructions/'+q.id">Начать</button>
                        <button mat-stroked-button color="warn">Баллов: {{q.maxMarks}}</button>
                        <button mat-stroked-button color="warn">Время: {{q.time / 60}} мин.</button>
                      </mat-card-actions>
                </mat-card>
            </div>

            <div class="col-md-12" *ngIf="quizies.length==0">
                <mat-card>
                    <mat-card-content>
                        <h1>Нет тестов в данной категории</h1>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>