<h1 class="mt15">Вопросы из {{quizeTitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
<div class="container">
    <button mat-raised-button color="primary" class="mb15" [routerLink]="'/admin/add-question/'+quizeId">Добавить вопрос</button>
</div>

            <mat-card *ngFor="let q of questions ; let i=index" class ="mt5"> 
                <mat-card-content>

                    <p>
                        <strong>#{{i+1}}</strong> <span class="ml15" [innerHTML]="q.content"></span>
                    </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div *ngFor="let a of q.answers ; let j=index" class="col-md-6">
                                <p>{{j + 1}}) {{a.reply}}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <p *ngFor="let a of q.answers ; let j=index" class="mt15"><strong *ngIf="a.correctly == true">Правильный ответ: {{a.reply}}</strong></p>
                    </div>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-stroked-button color="primary" [routerLink]="'/admin/question/'+q.id">Редактировать</button>
                    <button mat-stroked-button color="warn" (click)="deleteQuestion(q.id)">Удалить</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>

</div>