<mat-card>
    <mat-action-list>

        <div mat-subheader>
            Меню
        </div>
            <button routerLink="/user" mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                Главная
            </button>
            <button routerLink="/user/profile" mat-list-item >
                <mat-icon mat-list-icon>account_circle</mat-icon>
                Профиль
            </button>
            <button [routerLink]="'/user/statistic'" mat-list-item >
                <mat-icon mat-list-icon>fact_check</mat-icon>
                Все результаты
            </button>
            <button [routerLink]="'/user/category'" mat-list-item >
                <mat-icon mat-list-icon>quiz</mat-icon>
                Все тесты
            </button>
            <div *ngFor="let c of categories">
                <button [routerLink]="'/user/category/'+c.id" mat-list-item >
                    <mat-icon mat-list-icon>category</mat-icon>
                    {{c.title}}
                </button>
            </div>

        

    </mat-action-list>
</mat-card>