<mat-card>
    <mat-action-list>

        <div mat-subheader>
            Menu
        </div>
            <button routerLink="/admin" mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                Главная
            </button>
            <button routerLink="/admin/profile" mat-list-item >
                
                <mat-icon mat-list-icon>account_circle</mat-icon>
                Профиль
            </button>
            <button routerLink="/admin/categories" mat-list-item >
                
                <mat-icon mat-list-icon>category</mat-icon>
                Категории
            </button>
            <button routerLink="/admin/add-category" mat-list-item >
                
                <mat-icon mat-list-icon>add_circle</mat-icon>
                Добавить категорию
            </button>
            <button routerLink="/admin/profile" mat-list-item >
                
                <mat-icon mat-list-icon>quiz</mat-icon>
                Тесты
            </button>
            <button routerLink="/admin/profile" mat-list-item >
                
                <mat-icon mat-list-icon>add_circle</mat-icon>
                Добавить тест
            </button>
        

    </mat-action-list>
</mat-card>